html, body {
    font-family: 'Open Sans',sans-serif;
    color: #777777;
    background: #ffffff;
}

.bsa-overlay{
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index: 100000;
}

.bsa-overlay-loader{
    background: #ffffff url(../img/loading.gif) no-repeat center center;
}